#Header{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border:solid 8px black;
    text-align: center;
    background-color: darkblue;
}

#Header h1{
    font-size: 120px; 
    font-family: "Passion One";
    color: rgb(51, 255, 0); 
    font-weight: bold;
}

#LeftNav{
    float: left;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border:solid 8px black;
    text-align: center;
    padding-left: 8px;
    padding-bottom: 8px;
    background-color: #8E41D5;
}

ul{
    list-style-type: none;
    padding-left: 0px;
}


#Content{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border:solid 8px black;
    text-align: center;
    padding: 15px;
    background-color: #8E41D5;
}

#Footer{
    border:solid 8px black;
    text-align: center;
    background-color: #8E41D5;
}

h1{
    font-size: 60px;
    font-weight: bold;
    font-family: "Passion One";
    color: #FFBC00;
}

p{
    font-family: "Arial";
    color: rgb(255, 0, 0);
    font-weight: bold;
}

h3{
    color: #FFBC00;
    font-size: 40px;
    font-family: "Passion One";
    margin-bottom: 0px;
}

body{
    background-color: black;
}

a{
    color: white;
    font-weight:bold;
    font-size: 24px;
}

#bow{
    color: #FFBC00;
    font-weight: bold;
    font-size: 20px;
}